.history-page {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.history-list {
  list-style-type: none;
  padding: 0;
}

.history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: white;
}

.history-item-creatures {
  font-weight: bold;
}

.history-item-results {
  color: #555;
}
